main {
  border: 1px solid black;
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;

  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 50%));
    justify-content: center;

    section {
      text-align: center;
      border: 1px solid red;
      width: 100%;
      min-width: 375px;
    }
  }
}
